{
  "plugins": ["prettier-plugin-svelte"],

  "useTabs": false,
  "endOfLine": "lf",
  "printWidth": 120,
  "semi": true,
  "bracketSameLine": true,
  "singleQuote": true,
  "bracketSpacing": true,
  "tabWidth": 2,

  "svelteAllowShorthand": true,
  "arrowParens": "avoid",

  "trailingComma": "es5"
}
